{
  "rules": {
    "comma-dangle": [2, "never"],
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,

    "strict": [2, "global"]
  }
}
